.experience {
  background-color: #7d738b;
  padding-top: 32px;
  padding-bottom: 32px;
}
.experience__item-wrap {
  width: 210px;
  max-height: 116px;
  &:not(last-child) {
    margin-bottom: 32px;
  }
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 767px) {
    width: 400px;
    flex-wrap: wrap;
  }
}
.experience__div {
  font-family: var(--main-font);
  font-style: var(--font-style);
  color: var(--accent-color);
  margin-bottom: 10px;
}
.experience__item {
  font-family: var(--main-font);
  font-style: var(--font-style);
}
