.experience {
  background-color: var(--background);
  padding-top: 32px;
  padding-bottom: 32px;
}
.experience__item-wrap {
  padding: 20px;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0500000007), 0 1rem 1.5rem rgba(0, 0, 0, 0.1000000015);
  background-color: rgba(67, 67, 67, 0.3);
  &:not(last-child) {
    margin-bottom: 32px;
  }
  display: flex;
  flex-direction: column;
}
.experience__div {
  font-family: var(--main-font);
  font-style: var(--font-style);
  color: var(--accent-color);
  margin-bottom: 10px;
}
.experience__item {
  font-family: var(--main-font);
  font-style: var(--font-style);
  color: var(--text-color);
  font-size: 15px;
  line-height: 1.9;
  letter-spacing: 0.05em;
}
.experience__icon {
  fill: rgb(40, 37, 37);
  transition: fill 350ms var(--transition);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
