.hero {
  background-color: #a2a0a8;
  padding-bottom: 64px;
  @media screen and (min-width: 767px) {
    padding-bottom: 40px;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  @media screen and (min-width: 767px) {
    gap: 40px;
  }
}
.nav__list-item-svg {
  fill: rgb(40, 37, 37);
  transition: fill 350ms var(--transition);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.hero__title {
  padding-top: 32px;
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-style: var(--font-style);
  color: var(--text-color);
  font-size: 24px;
  line-height: 1.33;
  @media screen and (min-width: 767px) {
    font-size: 36px;
    line-height: 1.94;
  }
}
.hiro__desc-item {
  margin-bottom: 25px;
}

.hero__desc {
  font-family: var(--main-font);
  font-style: var(--font-style);
  color: var(--text-color);
  font-size: 15px;
  line-height: 1.5;
  &-edu {
    color: var(--accent-color);
  }
}
