.projects {
  background-color: var(--background);
  padding-top: 32px;
  padding-bottom: 64px;
}
.h2__title {
  font-family: var(--main-font);
  font-style: var(--font-style);
  color: var(--text-color);
  font-size: 24px;
  line-height: 32px;
  @media screen and (min-width: 767px) {
    font-size: 28px;
  }
  margin-bottom: 32px;
}
.projecs__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 767px) {
    flex-direction: row;
  }
}
.projects__item-wrap {
  padding: 20px;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0500000007), 0 1rem 1.5rem rgba(0, 0, 0, 0.1000000015);
  background-color: rgba(67, 67, 67, 0.3);
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 767px) {
    &:not(:last-child) {
      display: flex;
      margin-bottom: 0;
      margin-right: 32px;
    }
  }
}
.projects__item {
  font-family: var(--main-font);
  font-style: var(--font-style);
  color: var(--text-color);
  font-size: 23px;
  line-height: 20px;
  width: 400px;
  width: 280px;

  &-title {
    color: var(--accent-color);
    padding-right: 45px;
  }
  &-desc {
    margin-top: 15px;
    font-family: var(--main-font);
    font-style: var(--font-style);
    color: var(--text-color);
    font-size: 15px;
    line-height: 1.9;
    letter-spacing: 0.05em;
  }
}
.projects__icon-wrap {
  margin-top: 30px;
}
.projects__icon-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.projects__icon-item {
  padding-right: 30px;
}
