.projects {
  background-color: #46465a;
  padding-top: 32px;
  padding-bottom: 64px;
}
.h2__title {
  font-family: var(--main-font);
  font-style: Regular;
  font-size: 24px;
  line-height: 32px;
  @media screen and(min-width:767px) {
    font-size: 28px;
  }
  margin-bottom: 32px;
}
.projecs__list {
  display: block;
  @media screen and(min-width:767px) {
    display: flex;
  }
}
.projects__item-wrap {
  display: flex;
  flex-direction: column;
  width: 366px;
  height: 280px;
  padding: 20px;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0500000007),
    0 1rem 1.5rem rgba(0, 0, 0, 0.1000000015);
  background-color: rgba(67, 67, 67, 0.7212070227);
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  @media screen and(min-width:767px) {
    flex-direction: row;
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 32px;
    }
  }
}
.projects__item {
  font-family: var(--main-font);
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
}
