.skills {
  background-color: #696476;
  padding-top: 32px;
  padding-bottom: 32px;
}
.skills__div {
  width: 370px;
  max-height: 270px;
  display: flex;
  @media screen and(min-width:767px) {
    width: 720px;
  }
}
.skills__second-title {
  display: flex;
  font-family: var(--main-font);
  font-style: var(--font-style);
  padding-right: 10px;
  @media screen and(min-width:767px) {
    padding-right: 50px;
  }
}
.skills__list {
  display: flex;
  justify-content: center;
}
.skills__item {
  font-family: var(--main-font);
  font-style: var(--font-style);
  display: flex;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  margin-right: 19px;
  @media screen and(min-width:767px) {
    margin-right: 70px;
  }
  @media screen and(min-width:1199px) {
    margin-right: 100px;
  }
}
