.skills {
  background-color: #696476;
  padding-top: 32px;
  padding-bottom: 32px;
}
.skills__second-title {
  font-family: var(--main-font);
  font-style: var(--font-style);
  padding-right: 32px;
}
.skills__div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.skills__list {
  display: flex;
  // gap: 10px;
  justify-content: center;
  align-items: center;
}
.skills__item {
  font-family: var(--main-font);
  font-style: var(--font-style);
}
